/* You can add global styles to this file, and also import other style files */
body {
  font-family: Roboto, sans-serif;
}
html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}
@import 'styles/button.scss';
@import 'styles/textbox.scss';
@import 'styles/code.scss';