$border-color: #E0E0E0;

$accent-color: #EB5757;
$primary-color: #2D9CDB;
$light-color: #ffffff;

$primary-text-color: #000;
$secondary-text-color: #4F4F4F;
$link-color: #2F80ED;

$tag-bg-color: #56CCF2;
$code-bg-color: #f6f6f6;

$go-back-bg-color: #edf7fd;

$border-radius: 5px;
$body-width: 800px;
$answer-info-width: 70px;